# Ignore node_modules so that dependencies are installed inside the container
node_modules

# Ignore npm logs
npm-debug.log

# Ignore Git files
.git
.gitignore

# Optionally ignore environment files if they are not needed in the image
# .env
