# Ignore node_modules to ensure dependencies are installed inside the container
node_modules

# Ignore npm logs
npm-debug.log

# Ignore Git files
.git
.gitignore

# Optionally ignore local environment files
# .env
